<h1>New book</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= form_for [@book] do |f| %>
    <!-- hidden field current user -->
    <%= render 'shared/book_error_messages' %>

    <%= f.label :name %>  
    <%= f.text_field :name %>
    <%= f.submit 'Create Book' %>	
    

    <% end %>
  </div>
</div>

