- provide(:title, @book.name )
.col-md-12
  %br
  = link_to @book.name, book_chapters_path(@book), class: 'book-name-chapters'
  %br
  = "Author: "
  - if user_signed_in?
    = link_to @book.user.name + ", ", user_path(@book.user), class: 'author-name'
  - else  
    = @book.user.name + ", "
  = link_to @book.genre.name, genre_path(@book.genre) if !@book.genre.nil?
  - if @book.tags.any?
    - @book.tags.each do |tag|
      = link_to " \#" << tag.name, tag_path(tag)
  %p
  - if @book.chapters.any?
    = paginate @chapters, :window => 2, :param_name => :chapter
    - @chapters.each do |chapter|
      .col-md-12
      .col-md-6
        %br
        %br
        %t.chapter-name
          = chapter.number.to_s + ". " + chapter.name.to_s
        %br
        %br
      .col-md-8.reader-content
        %br
        .col-md-12.reader
          %p
            :markdown
              #{chapter.content}              
        .col-md-12
          %br
    .col-md-12
      %br      
      = paginate @chapters, :window => 2, :param_name => :chapter
  -else
    %p No chapters yet 

