<h1>New Chapter</h1>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= simple_form_for [ @book, @chapter] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name, label: 'Chapter name' %>
      <%= f.input :number %>
      <div > 
        <%= f.input :content, :input_html => {:rows => 8, :placeholder => "Enter some text.", "data-provide" => "markdown" } %>
      </div>
      <%= f.button :submit %>
    </div> 
    

    <% end %>
  </div>
</div>
