<h1>New Chapter</h1>
<br>
<%= simple_form_for [ @book, @chapter] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :name, label: 'Chapter name' %>
  <%= f.input :number %>
  <div > 
  <%= f.input :content, :input_html => {:rows => 8, :placeholder => "Enter some text.", :class => "span8", "data-provide" => "markdown" } %>
  </div>
  <%= f.button :submit %>
  </div> 
  

<% end %>
